# Auto detect text files and perform LF normalization
* text=auto

*.php diff=php


/phpunit.xml.dist       export-ignore

/.gitattributes         export-ignore
/.gitignore             export-ignore
/tests                  export-ignore
